.form-main {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {

    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  @media (min-width: @desctop-width) {

    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #000000;
    text-transform: none;
  }
}
