.page-main-catalog {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  &__title {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 91px;
    margin-bottom: 29px;

    @media (min-width: @tablet-width) {
      font-family: Oswald;
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      margin-left: 0;
      padding: 0;
    }
  }

  &__link {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    position: relative;

    @media (min-width: @tablet-width) {
    }

    &::after {
      content: "";
      width: 32px;
      height: 12px;
      display: block;
      background-image: url("./../img/icon_arrow.svg");
      background-repeat: no-repeat;

      position: absolute;
      left: 100px;
      bottom: 5px;
    }
  }

  &__slim {
    min-width: 320px;
    height: 266px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 22px;
    position: relative;
    background-color: #f2f2f2;

    @media (min-width: @mobile-width-only) {
      &::before {
        content: "";
        width: 50px;
        height: 53px;
        display: inline-block;
        background-image: url("./../img/cat_slim.svg");
        background-repeat: no-repeat;
        padding: 0 7px 22px 0;
        position: absolute;
        top: 21px;
      }
    }

    @media (min-width: @tablet-width) {
      &::before {
        content: "";
        width: 200px;
        height: 211px;
        display: inline-block;
        background-size: contain;
        background-image: url("./../img/cat_slim.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 62px;
      }
    }
  }

  margin-bottom: 20px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    width: 768px;
  }

  @media (min-width: @desctop-width) {
    width: 1220px;
  }

  &__pro {
    width: 280px;
    height: 266px;
    min-width: 320px;
    padding-top: 20px;
    padding-left: 22px;
    position: relative;
    &::before {
      content: "";
      width: 67px;
      height: 50px;
      display: inline-block;
      background-image: url("./../img/cat_pro.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 7px 22px 0;
      position: absolute;
    }
    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
      @media (min-width: @tablet-width) {
        &::before {
          content: "";
          width: 268px;
          height: 200px;
          display: inline-block;
          background-size: contain;
          background-image: url("./../img/cat_pro.svg");
          background-repeat: no-repeat;
          position: absolute;
          right: 62px;
        }
      }
    }

    @media (min-width: @desctop-width) {
      width: 570px;
    }
  }

  &__list {
    @media (min-width: @tablet-width) {
      width: 768px;
      height: 372px;
    }

    @media (min-width: @desctop-width) {
width: 570px;
height: 374px;
    }
  }

  @media (min-width: @desctop-width) {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__description {
    width: 227px;
    height: 90px;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    position: relative;
    display: block;
    margin-bottom: 38px;

    &::after {
      content: "";
      background: #d9d9d9;
      width: 240px;
      height: 1px;
      bottom: -20px;
      left: 0;
      position: absolute;
      @media (min-width: 240px) {
        display: none;
      }
    }
    @media (min-width: @tablet-width) {
      font-family: Arial;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #000000;
      width: 340px;
      height: 96px;
      margin: 0;
      padding: 0;
      margin-bottom: 48px;
    }
  }
  gap: 30px;
}
