.page-main-catalog {
  margin-bottom: 20px;


  &__title {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
  }

  &__link {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }

  &__slim {
    margin-bottom: 20px;
    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
      margin-bottom: 30;
      width: 708px;
    }

    @media (min-width: @desctop-width) {
      width: 570px;
    }
  }

  &__pro {
    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desctop-width) {
      width: 570px;
    }
  }



  @media (min-width: @desctop-width) {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
