.page-header {

  &__menu {

    font-family: Oswald;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-decoration: none;
list-style: none;
list-style-type: none;
text-transform: uppercase;
color: #000000;


  }
}
