.page-footer-contacts {
  width: 280px;
  height: 112px;
  margin: 0 auto;
padding: 0;
&__invite {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
