.page-main-example {
  background-color: #eaeaea;
  position: relative;

  &__cont {
    @media (min-width: @tablet-width) {
      width: 768px;
      height: 576px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 56px;
      display: block;
      border-bottom: 462px solid #eaeaea;
    }

    @media (min-width: @desctop-width) {
    }

    &::before {
      @media (min-width: @mobile-width-only) {
        display: none;
      }

      @media (min-width: @tablet-width) {
        display: block;
        width: 768px;
        height: 462px;
        background: #eaeaea;
        position: absolute;
      }
    }
  }

  &__description {
    padding-left: 20px;
    width: 280px;
    height: 108px;

    @media (min-width: @tablet-width) {
      color: #444444;
      font-family: Arial;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      width: 708px;
      padding: 0;
      margin: 0;
    }

    @media (min-width: @desctop-width) {
      margin-bottom: 69px;
      width: 436px;
      height: 96px;
    }
  }
  &__title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    padding-left: 20px;

    @media (min-width: @tablet-width) {
      font-family: Oswald;
      font-size: 60px;
      font-weight: 400;
      line-height: 60px;
      text-align: left;
      color: #000000;
      padding: 0;
      margin: 0;
      margin-bottom: 63px;
    }

    @media (min-width: @desctop-width) {
      padding-left: 110px;
      padding-bottom: 54px;
      margin-left: -110px;
      display: inline-block;
      background-color: #ffffff;
    }
  }
  &__list {
    text-align: center;
    color: #444444;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    display: flex;
    list-style: none;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    width: 280px;
    position: relative;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      display: flex;
      margin: 0;
      padding: 0;
    }
    @media (min-width: @desctop-width) {
      margin-bottom: 20px;
    }
  }

  &__index {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    outline: 1px solid #cdcdcd;
    width: 124px;
    height: 56px;
    padding-top: 15px;

    @media (min-width: @tablet-width) {
      font-family: Oswald;
      font-size: 30px;
      font-weight: 400;
      line-height: 37px;
      text-align: center;
      width: 162px;
      height: 72px;
    }
  }

  &__options {
    padding: 0;
    margin: 0;
    outline: 10px solid transparent;
    padding: 0 35px;
    position: absolute;
    bottom: 10px;

    @media (min-width: @tablet-width) {
      br {
        display: none;
      }
      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: center;
      padding: 0;
      margin: 0;
      bottom: 25px;
      white-space: nowrap;
      padding-left: 30px;
    }
  }

  &__cost {
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      font-family: Oswald;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-align: right;
      color: #000000;
      width: 174px;
      height: 49px;
      margin-top: 55px;
    }

    @media (min-width: @desctop-width) {
      margin-top: 0;
      width: auto;
      height: auto;
    }
  }

  &__text-cont {
    width: 436px;
    height: 317px;
  }

  &__item-left {
    @media (min-width: @desctop-width) {
      margin-right: 42px;
      margin-left: 90px;
    }
  }

  &__cost-text {
    @media (min-width: @desctop-width) {
      margin-right: 63px;
    }
  }

  &__img {
    @media (min-width: @tablet-width) {
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }

  &__before-cont {
    @media (min-width: @tablet-width) {
      width: 296px;
      height: 511px;
      display: block;
      margin: 0;
      padding: 0;
      float: left;
      position: relative;
    }
  }

  &__before-img {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 15px;

    @media (min-width: @tablet-width) {
      display: block;
      max-width: 592px;
      height: 511px;
      position: absolute;
      object-fit: cover;
      object-position: -20px;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  &__after-cont {
    @media (min-width: @tablet-width) {
      width: 296px;
      height: 511px;
      display: block;
      margin: 0;
      padding: 0;
      margin-left: -17px;
      position: relative;

      float: left;
    }
  }

  &__after-img {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      max-width: 592px;
      height: 511px;
      position: absolute;
      object-fit: cover;
      object-position: -240px;

      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  &__btn,
  &__btn--active {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-family: Oswald;
      font-size: 20px;
      font-weight: 400;
      line-height: 29.64px;
      text-align: center;
    }
  }

  &__btn-toggler {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 210px;
    height: 30px;
    gap: 13px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      width: 592px;
      margin: 0 auto;
    }
  }

  @media (min-width: @tablet-width) {
    width: 768px;

    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desctop-width) {
    width: 1440px;
    padding: 0 110px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__list-cost {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: @desctop-width) {
      flex-wrap: wrap;
    }
  }

  &__text {
    @media (min-width: @desctop-width) {
      height: 576px;
      border-bottom: 462px solid #eaeaea;
      border-left: 110px solid #eaeaea;
    }
  }
}
