.page-header {
  &__nav-cont {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &__menu {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    text-transform: uppercase;
    color: #000000;
  }

  &__nav {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
    }

    @media (min-width: @desctop-width) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__toggler {
    background-image: url("./../img/btn-burger.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 24px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;

    &--active {
     background-image: url("./../img/btn-close.svg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     width: 25px;
     height: 25px;
     background-color: transparent;
     border: none;
     padding: 0;
    margin: 0;
    margin-top: 25px;

    }

  }


  &__logo-name {
    margin-top: 25px;
  }

  &__logo-img {
    margin-top: 11px;
  }
}
