.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.switcher__toggler {
  display: flex;
  width: 86px;
  height: 14px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  margin: 8px 0;
}
.switcher__toggler::after {
  content: "";
  width: 36px;
  height: 6px;
  border-radius: 6px;
  background-color: #68b738;
  position: absolute;
  top: 3px;
  left: 5px;
}
@media (min-width: 768px) {
  .switcher__toggler::after {
    content: "";
    width: 34px;
    height: 34px;
    background-image: url("../img/slider-control-tablet.svg");
    background-color: transparent;
    position: absolute;
    top: -15px;
    left: 185px;
  }
}
@media (min-width: 768px) {
  .switcher__toggler {
    width: 426px;
    height: 6px;
    background-color: #DCDCDC;
    padding: 0;
    margin: 0;
    position: relative;
    margin: auto;
  }
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.page {
  min-width: 280px;
  padding: 0 20px;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page {
    padding: 0 110px;
    width: 1440px;
  }
}
@media (min-width: 1440px) {
  .page-body {
    width: 1220px;
    margin: 0 110px;
  }
}
.page-main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .page-main {
    position: relative;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .page-main {
    width: 1220px;
    margin: 0 auto;
  }
}
.page-main__header {
  position: relative;
}
@media (min-width: 768px) {
  .page-main__header {
    height: 910px;
  }
}
@media (min-width: 1440px) {
  .page-main__header {
    width: 1440px;
    height: 585px;
  }
}
.page-main__example {
  min-width: 320px;
}
.page-main__promo-img-mobile {
  position: absolute;
  top: 190px;
  left: 20px;
}
@media (min-width: 768px) {
  .page-main__promo-img-mobile {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-main__promo-img-mobile {
    display: none;
  }
}
.page-main__promo-img-tablet {
  display: none;
}
@media (min-width: 768px) {
  .page-main__promo-img-tablet {
    display: block;
    position: absolute;
  }
}
@media (min-width: 1440px) {
  .page-main__promo-img-tablet {
    display: none;
  }
}
.page-main__promo-img-desctop {
  display: none;
}
@media (min-width: 768px) {
  .page-main__promo-img-desctop {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-main__promo-img-desctop {
    display: block;
    position: absolute;
    top: 32px;
    left: 39%;
  }
}
.page-main__catalog {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.page-main__description {
  width: 380px;
  height: 380px;
}
.page-main__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .page-main__title {
    color: #000000;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 414px;
    height: 120px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
  }
}
.page-main-header {
  min-width: 320px;
  min-height: 480px;
  background-color: #ffffff;
  line-height: 0;
  width: 320;
  height: 302;
  margin-bottom: 20px;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 27px;
}
@media (min-width: 768px) {
  .page-main-header {
    position: relative;
  }
}
.page-main-header__button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  position: relative;
  top: 150px;
  min-width: 280px;
  max-width: 320px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .page-main-header__button {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 192px;
    height: 54px;
    margin: 0;
    padding: 14px 26px;
    position: absolute;
    left: 120px;
    top: 260px;
  }
}
@media (min-width: 1440px) {
  .page-main-header__button {
    margin: 0;
    margin-left: 80px;
  }
}
.page-main-header__top {
  width: 320px;
  min-height: 302px;
  background-image: url("../img/index-background-mobile.jpg");
  position: relative;
  background-size: 320px 302px;
  background-repeat: no-repeat;
  background-color: #68b738;
  background-blend-mode: overlay;
  opacity: 0.85;
  object-fit: fill;
}
@media (min-width: 768px) {
  .page-main-header__top {
    background-image: none;
    background-color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
    width: 708px;
    margin: 0;
    padding: 0;
    margin-left: 117px;
  }
}
@media (min-width: 1440px) {
  .page-main-header__top {
    margin: 0 auto;
    width: 1440px;
    height: 550px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .page-main-header__top::after {
    content: "";
    position: absolute;
    right: 0;
    top: -200px;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: #68b738;
    background-blend-mode: overlay;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("../img/index-background-desktop.jpg");
  }
}
@media (min-width: 1440px) {
  .page-main-header__text {
    margin: 0;
    margin-left: 190px;
  }
}
.order-btn {
  background-color: #68b738;
}
.additional-item {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
}
.additional-item__title {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}
.additional-item__btn {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .additional__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.additional__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.additional__list {
  list-style: none;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog-card {
    background-color: #F2F2F2;
  }
}
@media (min-width: 1440px) {
  .catalog-card {
    background-color: #F2F2F2;
  }
}
.catalog-card__title {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}
.catalog-card__values {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.catalog-card__button {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.catalog-main-list__item {
  margin-bottom: 19px;
}
@media (min-width: 1440px) {
  .catalog-main {
    width: 1221px;
  }
}
.catalog-main__catalog {
  margin-bottom: 25px;
}
.catalog-main__gift-promo {
  display: inline-block;
  background-image: url("../img/cat-case.png");
  background-color: #68b738;
  background-blend-mode: overlay;
  opacity: 0.85;
  width: 100%;
  height: 200px;
}
.catalog-main__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
.catalog-main__list {
  list-style: none;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog-main__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog-main__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    row-gap: 80px;
    column-gap: 63px;
  }
}
.catalog-main__other {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.catalog-main__more {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
}
.catalog-main__other-btn {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.catalog-main__additional {
  margin-bottom: 36px;
}
.catalog-main__gift-promo {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.control__lead {
  color: #000000;
}
.field-group {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 1440px) {
  .field-group__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .field-group__more-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .field-group__more-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.field-group__list {
  list-style: none;
  list-style-type: none;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 1440px) {
  .field-group__list-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.field-group__heading {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
.field-group__more {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  color: #000000;
}
.field__input {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
.form-main {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
@media (min-width: 1440px) {
  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.form-main__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-transform: none;
}
.page-footer-contacts {
  width: 280px;
  height: 112px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .page-footer-contacts {
    display: flex;
    width: 708px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
  }
}
.page-footer-contacts__invite {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-footer-contacts__invite {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 172px;
    height: 83px;
    margin: 0;
    padding: 0;
  }
}
.page-footer-contacts__address br {
  display: none;
}
@media (min-width: 768px) {
  .page-footer-contacts__address {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: #444444;
    width: 160px;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  .page-footer-contacts__address br {
    display: block;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__container {
    width: 768px;
    position: relative;
    margin-bottom: 58px;
  }
}
.page-footer__location {
  margin: 0;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .page-footer__location {
    width: 828px;
    height: 400px;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__location-img {
    width: 828px;
    height: 400px;
    margin: 0;
    padding: 0;
    margin-left: -30px;
  }
}
.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
}
.page-footer__developer {
  display: flex;
  justify-content: space-between;
  width: 281px;
  min-height: 34px;
  margin: 22px auto;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-footer__developer {
    width: 163px;
    height: 34px;
    margin: 0;
    padding: 0;
    margin-left: 131px;
  }
}
.page-footer__developer-link {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-decoration: none;
  width: 114px;
  height: 18px;
  margin-top: 10px;
}
.page-footer__footer {
  height: 236px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__footer {
    width: 768px;
    height: 147px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__footer-cont {
    display: flex;
    width: 768px;
    height: 34px;
    margin: 0 auto;
    padding: 55px 0;
    justify-content: space-around;
  }
}
.page-header {
  min-width: 280px;
}
@media (min-width: 1440px) {
  .page-header {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 auto;
  }
}
.page-header__nav-cont {
  width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .page-header__nav-cont {
    margin: 0;
    padding: 0;
    display: block;
    width: 202px;
    height: 59px;
    margin-top: 53px;
  }
}
.page-header__menu {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  text-transform: uppercase;
  color: #000000;
  width: 280px;
}
@media (min-width: 1440px) {
  .page-header__menu {
    width: 478px;
    height: 40px;
    padding: 0;
    margin: 0;
    column-gap: 32px;
    margin-top: 69px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: left;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .page-header__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}
.page-header__toggler {
  background-image: url("../img/btn-burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
.page-header__toggler--active {
  background-image: url("../img/btn-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header__toggler {
    display: none;
  }
}
.page-header__logo-name {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .page-header__logo-name {
    display: none;
  }
}
.page-header__logo-img {
  margin-top: 11px;
}
@media (min-width: 768px) {
  .page-header__logo-img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header__logo-img {
    display: none;
  }
}
.page-header__logo-tablet {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo-tablet {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 24px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo-tablet {
    display: none;
  }
}
.page-header__logo-desctop {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo-desctop {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header__logo-desctop {
    display: block;
  }
}
.page-main-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  gap: 30px;
}
.page-main-catalog__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 91px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .page-main-catalog__title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-left: 0;
    padding: 0;
  }
}
.page-main-catalog__link {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.page-main-catalog__link::after {
  content: "";
  width: 32px;
  height: 12px;
  display: block;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 100px;
  bottom: 5px;
}
.page-main-catalog__slim {
  min-width: 320px;
  height: 266px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 22px;
  position: relative;
  background-color: #f2f2f2;
}
@media (min-width: 320px) {
  .page-main-catalog__slim::before {
    content: "";
    width: 50px;
    height: 53px;
    display: inline-block;
    background-image: url("../img/cat_slim.svg");
    background-repeat: no-repeat;
    padding: 0 7px 22px 0;
    position: absolute;
    top: 21px;
  }
}
@media (min-width: 768px) {
  .page-main-catalog__slim::before {
    content: "";
    width: 200px;
    height: 211px;
    display: inline-block;
    background-size: contain;
    background-image: url("../img/cat_slim.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 62px;
  }
}
@media (min-width: 768px) {
  .page-main-catalog {
    margin-bottom: 30px;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page-main-catalog {
    width: 1220px;
  }
}
.page-main-catalog__pro {
  width: 280px;
  height: 266px;
  min-width: 320px;
  padding-top: 20px;
  padding-left: 22px;
  position: relative;
  background-color: #f2f2f2;
}
.page-main-catalog__pro::before {
  content: "";
  width: 67px;
  height: 50px;
  display: inline-block;
  background-image: url("../img/cat_pro.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 7px 22px 0;
  position: absolute;
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-main-catalog__pro::before {
    content: "";
    width: 268px;
    height: 200px;
    display: inline-block;
    background-size: contain;
    background-image: url("../img/cat_pro.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 62px;
  }
}
@media (min-width: 1440px) {
  .page-main-catalog__pro {
    width: 570px;
  }
}
@media (min-width: 768px) {
  .page-main-catalog__list {
    width: 768px;
    height: 372px;
  }
}
@media (min-width: 1440px) {
  .page-main-catalog__list {
    width: 570px;
    height: 374px;
  }
}
@media (min-width: 1440px) {
  .page-main-catalog {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.page-main-catalog__description {
  width: 227px;
  height: 90px;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  position: relative;
  display: block;
  margin-bottom: 38px;
}
.page-main-catalog__description::after {
  content: "";
  background: #d9d9d9;
  width: 240px;
  height: 1px;
  bottom: -20px;
  left: 0;
  position: absolute;
}
@media (min-width: 240px) {
  .page-main-catalog__description::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-main-catalog__description {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    width: 340px;
    height: 96px;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
  }
}
.page-main-description {
  padding: 0;
  margin: 0;
  margin-bottom: 49px;
  width: 320px;
  height: 380px;
}
@media (min-width: 768px) {
  .page-main-description {
    width: 768px;
    height: 700px;
    margin-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }
}
.page-main-description__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-main-description__title {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 375px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 32px;
  }
}
.page-main-description__list {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .page-main-description__list {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .page-main-description__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .page-main-description__item-text {
    display: block;
    margin-top: 151px;
    z-index: 1;
  }
}
.page-main-description__item {
  width: 320px;
  margin-bottom: 20px;
}
.page-main-description__item--leaf {
  width: 176px;
  height: 54px;
  margin-left: 40px;
}
.page-main-description__item--leaf::before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  background-image: url("../img/Group-1.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .page-main-description__item--leaf::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-main-description__item--leaf {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    width: 230px;
    height: 280px;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .page-main-description__item--leaf::before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url("../img/Group-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40px;
  }
  .page-main-description__item--leaf::after {
    content: "1";
    font-family: Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.page-main-description__item--powder {
  width: 198px;
  height: 54px;
  margin-left: 40px;
}
.page-main-description__item--powder::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-image: url("../img/Group-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .page-main-description__item--powder {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    width: 246px;
    height: 280px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .page-main-description__item--powder::before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url("../img/Group-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40px;
  }
  .page-main-description__item--powder::after {
    content: "2";
    font-family: Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.page-main-description__item--nutrition {
  width: 183px;
  height: 54px;
  margin-left: 40px;
}
.page-main-description__item--nutrition::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-image: url("../img/Group-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .page-main-description__item--nutrition {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    width: 247px;
    height: 280px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .page-main-description__item--nutrition::before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url("../img/Group-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40px;
  }
  .page-main-description__item--nutrition::after {
    content: "3";
    font-family: Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.page-main-description__item--changes {
  width: 199px;
  height: 54px;
  margin-left: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.page-main-description__item--changes::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-image: url("../img/Group-4.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
@media (min-width: 320px) {
  .page-main-description__item--changes br {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-main-description__item--changes {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    width: 249px;
    height: 280px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .page-main-description__item--changes br {
    display: block;
  }
  .page-main-description__item--changes::before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url("../img/Group-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40px;
  }
  .page-main-description__item--changes::after {
    content: "4";
    font-family: Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.page-main-example {
  background-color: #eaeaea;
  position: relative;
}
@media (min-width: 768px) {
  .page-main-example__cont {
    width: 768px;
    height: 576px;
    margin: 0 auto ;
    padding: 0;
    margin-bottom: 56px;
    display: block;
    border-bottom: 462px solid #EAEAEA;
  }
}
@media (min-width: 320px) {
  .page-main-example__cont::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-main-example__cont::before {
    display: block;
    width: 768px;
    height: 462px;
    background: #EAEAEA;
    position: absolute;
  }
}
.page-main-example__description {
  padding-left: 20px;
  width: 280px;
  height: 108px;
}
@media (min-width: 768px) {
  .page-main-example__description {
    color: #444444;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 708px;
    padding: 0;
    margin: 0;
  }
}
.page-main-example__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .page-main-example__title {
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-bottom: 63px;
  }
}
.page-main-example__list {
  text-align: center;
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  display: flex;
  list-style: none;
  list-style-type: none;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .page-main-example__list {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
.page-main-example__index {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  outline: 1px solid #cdcdcd;
  width: 124px;
  height: 56px;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .page-main-example__index {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    width: 162px;
    height: 72px;
  }
}
.page-main-example__options {
  padding: 0;
  margin: 0;
  outline: 10px solid transparent;
  padding: 0 35px;
  position: absolute;
  bottom: 10px;
}
@media (min-width: 768px) {
  .page-main-example__options {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    bottom: 25px;
    white-space: nowrap;
    padding-left: 30px;
  }
  .page-main-example__options br {
    display: none;
  }
}
.page-main-example__cost {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-main-example__cost {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: #000000;
    width: 174px;
    height: 49px;
    margin-top: 55px;
  }
}
@media (min-width: 768px) {
  .page-main-example__img {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .page-main-example__before-cont {
    width: 296px;
    height: 511px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
  }
}
.page-main-example__before-img {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .page-main-example__before-img {
    display: block;
    max-width: 592px;
    height: 511px;
    position: absolute;
    object-fit: cover;
    object-position: -20px;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media (min-width: 768px) {
  .page-main-example__after-cont {
    width: 296px;
    height: 511px;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: -17px;
    position: relative;
    float: left;
  }
}
.page-main-example__after-img {
  display: none;
}
@media (min-width: 768px) {
  .page-main-example__after-img {
    display: block;
    max-width: 592px;
    height: 511px;
    position: absolute;
    object-fit: cover;
    object-position: -240px;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
.page-main-example__btn,
.page-main-example__btn--active {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main-example__btn,
  .page-main-example__btn--active {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: center;
  }
}
.page-main-example__btn-toggler {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 210px;
  height: 30px;
  gap: 13px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-main-example__btn-toggler {
    width: 592px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .page-main-example {
    width: 768px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .page-main-example {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .page-main-example__list-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.site-menu {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}
.site-menu--hidden {
  display: none;
}
.site-menu__item {
  white-space: nowrap;
}
@media (min-width: 768px) {
  .site-menu__item--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .site-menu__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
.site-menu__link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 1440px) {
  .site-menu__link {
    color: #Ffffff;
  }
}
@media (min-width: 768px) {
  .site-menu {
    width: 440px;
    height: 36px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    font-family: Oswald;
    font-weight: 400;
    font-style: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-menu {
    width: 478px;
    height: 40px;
    padding: 0;
    margin: 0;
    column-gap: 32px;
    margin-top: 69px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: left;
    color: #ffffff;
    z-index: 1;
  }
}
.social-list {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 33px;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 21px;
}
@media (min-width: 768px) {
  .social-list {
    margin: 0;
    padding: 0;
    border: none;
    width: 129px;
    height: 33px;
    margin-left: 156px;
  }
}
.form__group {
  border: none;
}
.form__button {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.form__additional {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
  color: #000000;
  margin-bottom: 32px;
}
.page-footer-footer {
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */
